header {
  background-color: #224859;
  height: 100%;
}

@media only screen and (max-width: 821px) {
  header {
    padding: 2em 2em;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
