@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");

.my-work {
  color: #224859;
  margin-left: 20em;
  padding-top: 10em;
}

.my-work h2 {
  font-family: "Averia Serif Libre";
  text-align: left;
  padding: 3% 0 0 1.15%;
  font-style: italic;
  margin: 0;
}

.my-work-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin: 0 20em 0 0;
  padding: 3% 0;
}

.my-work-cards > article:nth-child(1) {
  animation: transistionIn 2s;
}

.my-work-cards > article:nth-child(2) {
  animation: transistionIn 1.5s;
}

.my-work-cards > article:nth-child(3) {
  animation: transistionIn 1s;
}

.my-work-cards > article:nth-child(4) {
  animation: transistionIn 2s;
}

.my-work-cards > article:nth-child(5) {
  animation: transistionIn 1.5s;
}

.my-work-cards > article:nth-child(6) {
  animation: transistionIn 1s;
}

.my-work h2 {
  animation: transistionIn 1.3s;
}

@keyframes transistionIn {
  from {
    opacity: 0;
    transform: translate(-20%);
  }

  to {
    opacity: 1;
    transform: translate(0);
  }
}

@media only screen and (max-width: 1280px) {
  .my-work {
    margin-left: 10em;
  }

  .my-work-cards {
    margin: 0 10em 0 0;
  }
}

@media only screen and (max-width: 1024px) {
  .my-work {
    margin-left: 10em;
  }

  .my-work-cards {
    margin: 0 2em 0 0;
  }
}

@media only screen and (max-width: 768px) {
  .my-work {
    margin-left: 5.5em;
    padding-top: 0.5em;
  }

  .my-work > h2 {
    padding-left: 2%;
  }

  .my-work-cards {
    margin: 0 2em 0 0;
    justify-content: flex-start;
  }
}

@media only screen and (max-width: 420px) {
  .my-work {
    margin-left: 2em;
    padding-top: 0em;
  }

  .my-work > h2 {
    padding-left: 4%;
  }
}
