header {
  padding: 1.7em 1.7em;
  position: fixed;
}

header > nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

header > nav > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 0.85em;
  color: #f0ece7;
  text-decoration: none;
  padding: 1em 0.75em 1em 0.75em;
  cursor: pointer;
}

header > nav > a:hover {
  text-decoration: none;
  background-color: #375564;
}

.active {
  text-decoration: none;
  background-color: #375564;
}

.mobile-nav {
  display: none;
}

header > nav > a > svg {
  height: 1.75em;
  padding-right: 0.5em;
}

@media only screen and (max-width: 821px) {
  header > nav {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  header > nav > a {
    font-size: 1.4em;
  }

  .mobile-nav {
    display: flex;
    z-index: 3;
    transition: 350ms ease-in-out;
  }

  .mobile-nav > nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 124px;
    width: 100%;
    height: auto;
    background-color: #224859;
  }

  .mobile-nav > nav > a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: #f0ece7;
    font-size: larger;
    padding: 1em 0 1em 0;
  }

  .mobile-nav > nav > a:hover {
    color: rgb(69, 209, 76);
  }

  .burger-icon {
    font-size: 40px;
    color: #f0ece7;
  }

  .mobile-nav > nav {
    position: absolute;
    left: 0;
    top: 100px;
  }

  .mobile-nav > close-icon {
    color: #f0ece7;
  }

  .mobile-nav > nav {
    position: absolute;
    left: 0;
    top: 100px;
  }

  .mobile-nav > nav > a {
    padding: 2%;
  }
}
