header {
  padding: 1.7em 1.7em;
  position: fixed;
}

header > nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
}

header > nav > a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: 400;
  font-size: 0.85em;
  color: #f0ece7;
  text-decoration: none;
  padding: 0.75em;
}

header > nav > a:hover {
  text-decoration: none;
  color: #e85c46;
}

.active {
  text-decoration: none;
  color: #e85c46;
}

.mobile-nav {
  display: none;
}

header > nav > a > svg {
  height: 1.75em;
  padding-right: 0.5em;
}
